*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    background-color: rgb(13, 13, 67);
    color: white;
    padding: 20px;
}
img{
    height: 150px;
    width: 150px;
    object-fit:cover;
    object-position: top;
    padding: 10px;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    font-weight: bold;
    font-size: 1rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.choice{
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.choice:hover{
    cursor: pointer;
    background-color:rgb(13, 13, 67);
}
.msg-container{
    display: flex;
    justify-content: center;
}
#msg{
    margin-top: 4rem;
    text-align: center;
    background-color: rgb(13, 13, 67);
    display: inline;
    color: white;
    font-size: 2rem;
    padding: 10px;
    border-radius: 10px;
}
@media  screen and (max-width : 600px ) {
    .choices{
        display : flex;
        flex-direction : column;
        gap: 0;
    }
    #msg{
        margin-top: 2rem;
    }
}